<section class="articles-section">
  <div class="container">
    <ul class="articles">
      <li>
        <a href="#"
          ><div class="articles-tag">
            <p>Business</p>
          </div>
          <div class="articles-text">
            <p>Craig Bator - 27 Dec 2020</p>
            <h1>After all is said and done, more is done</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="#"
          ><div class="articles-tag"><p>Business</p></div>
          <div class="articles-text">
            <p>Craig Bator - 27 Dec 2020</p>
            <h3>They’re back! Kennedy Darling named to return to</h3>
          </div>
        </a>
      </li>
      <li>
        <a href="#"
          ><div class="articles-tag"><p>Business</p></div>

          <div class="articles-text">
            <p>Craig Bator - 27 Dec 2020</p>
            <h3>Swiss authorities say Uber drivers should</h3>
          </div></a
        >
      </li>
      <li>
        <a href="#"
          ><div class="articles-tag"><p>Business</p></div>
          <div class="articles-text">
            <p>Craig Bator - 27 Dec 2020</p>
            <h2>Tourism in Dubai is booming by international tourist</h2>
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
