<section class="entertainment">
  <div class="container">
    <div class="news-header">
      <h2>Entertainment</h2>
      <div class="entertainment-buttons">
        <ul class="ent-btns">
          <li>
            <button href="">
              <svg width="24" height="24">
                <use href="img/icons.svg#icon-right"></use>
              </svg>
            </button>
          </li>
          <li>
            <button href="">
              <svg width="24" height="24">
                <use href="img/icons.svg#icon-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="news-tag"><p>Hollywood</p></div>
      <h1>Amanda Seyfried became ‘really obsessed’ with ghost stories</h1>
      <p class="subtitle">
        Hollywood actress Amanda Seyfried has recalled the time when she became
        obsessed with ghost stories
      </p>
    </div>
    <div class="hero-cards">
      <ul class="hero-cards-ul">
        <li>
          <a class="" href="">
            <div class="hero-sm-img">
              <div class="hero-tag blue"><p>Hollywood</p></div>
            </div>
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate-3">
                Amanda Seyfried became ‘really obsessed’ with ghost stories
              </h3>
            </div>
          </a>
        </li>
        <li>
          <a class="" href="">
            <div class="hero-sm-img">
              <div class="hero-tag light-blue"><p>Hollywood</p></div>
            </div>
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate-3">
                Amanda Seyfried became ‘really obsessed’ with ghost stories
              </h3>
            </div>
          </a>
        </li>
        <li>
          <a class="" href="">
            <div class="hero-sm-img">
              <div class="hero-tag red"><p>Hollywood</p></div>
            </div>
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate-3">
                Amanda Seyfried became ‘really obsessed’ with ghost stories
              </h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
