<header class="first-header">
  <div class="container">
    <ul class="header-ul">
      <li>
        <svg width="16" height="16">
          <use href="img/icons.svg#icon-haze-fill-1"></use>
        </svg>
        <div class="temperature">
          <div class="first-header-content">
            <p id="temperature"></p>
            <svg width="30" height="30">
              <use href="img/icons.svg#icon-celsium"></use>
            </svg>
          </div>
          <p class="city">New York</p>
        </div>
      </li>
      <li>
        <div class="day">
          <svg width="16" height="16">
            <use href="img/icons.svg#icon-clock"></use>
          </svg>
          <p id="date"></p>
        </div>
      </li>
      <li>
        <div class="news">
          <p class="breaking">Breaking News</p>
          <a href="#"
            >Indonesia says located black box recorders from crashed plane</a
          >
        </div>
      </li>
    </ul>
    <div class="socials">
      <ul>
        <li>
          <a href="#"
            ><svg width="16 " height="16">
              <use href="img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="16 " height="16">
              <use href="img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="#">
            <svg width="16 " height="16">
              <use href="img/icons.svg#icon-inst"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="16 " height="16">
              <use href="img/icons.svg#icon-yt"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
