<section class="news-section">
  <div class="container">
    <div class="news-left-content">
      <div class="news-header">
        <h2>Don't miss</h2>
        <nav>
          <ul class="news-tags">
            <li><a href="">All</a></li>
            <li><a href="">Lifestyle</a></li>
            <li><a href="">Vogue</a></li>
            <li><a href="">Health & Fitness</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">Gadgets</a></li>
            <li><a href="">World</a></li>
            <li>
              <a href=""
                >More
                <svg class="more-svg" width="20" height="20">
                  <use href="img/icons.svg#icon-arrow-down"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="news-cards">
        <ul class="news-cards-ul">
          <li>
            <a href="">
              <img width="393" height="250" src="img/news-1.jpg" alt=" new 1" />
              <p class="tag-news news-tag-main">
                Craig Bator - <span>27 Dec 2020</span>
              </p>
              <h3 class="news-main">
                Now Is the Time to Think About Your Small Business Success
              </h3>
              <p class="lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore, error similique fuga nemo, porro sit libero modi
                voluptatum dolorem officia deleniti quae explicabo aliquid
                dolorum soluta velit, voluptate inventore eligendi!
              </p>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/news-2.jpg" alt=" new 2" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3>
                  Penn’s expanding political climate gears up fo 2020 election
                </h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/news-3.jpg" alt=" new 3" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3>Things to Look For in a Financial Trading Platform</h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/news-4.jpg" alt=" new 4" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3>The only thing that overcomes hard luck is hard work</h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/news-5.jpg" alt=" new 5" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3>Success is not a good teacher failure makes you humble</h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/news-6.jpg" alt=" new 6" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3>At Value-Focused Hotels, the Free Breakfast Gets Bigger</h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="news-right-content">
      <aside>
        <nav class="aside-nav">
          <ul class="aside-btns">
            <li><button class="current-aside">Recent</button></li>
            <li><button>Trending</button></li>
            <li><button>Most Views</button></li>
          </ul>
        </nav>
        <ul class="news-cards-right">
          <li>
            <img src="img/news-r-1.jpg" alt=" new r 1" />
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate">
                At Value-Focused Hotels, the Free Breakfast Gets Bigger
              </h3>
            </div>
          </li>
          <li>
            <img src="img/news-r-2.jpg" alt=" new r 2" />
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate">
                At Value-Focused Hotels, the Free Breakfast Gets Bigger
              </h3>
            </div>
          </li>
          <li>
            <img src="img/news-r-3.jpg" alt=" new r 3" />
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate">
                At Value-Focused Hotels, the Free Breakfast Gets Bigger
              </h3>
            </div>
          </li>
          <li>
            <img src="img/news-r-4.jpg" alt=" new r 4" />
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate">
                At Value-Focused Hotels, the Free Breakfast Gets Bigger
              </h3>
            </div>
          </li>
          <li>
            <img src="img/news-r-5.jpg" alt=" new r 5" />
            <div class="news-text">
              <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
              <h3 class="truncate">
                At Value-Focused Hotels, the Free Breakfast Gets Bigger
              </h3>
            </div>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</section>
