<header class="second-header">
  <div class="container">
    <nav class="nav">
      <ul class="navbar">
        <li><a href="">Home</a></li>
        <li><a href="">International</a></li>
        <li><a href="">Sports</a></li>
        <li><a href="">Opinion</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Youth</a></li>
        <li><a href="">Entertainment</a></li>
        <li><a href="">Lifestyle</a></li>
        <li>
          <button class="pages-select">
            Pages
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </li>
      </ul>
      <form action="">
        <label class="search" for="search">
          <svg width="12" height="12">
            <use href="img/icons.svg#icon-search"></use>
          </svg>
          <input
            name="search"
            autocomplete="off"
            class="input-search"
            placeholder="Search"
            id="search"
            type="text"
        /></label>
      </form>
      <button class="burger">
        <svg width="30" height="30">
          <use href="img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
