<section class="news-section">
  <div class="container">
    <div class="news-left-content">
      <div class="news-header">
        <h2>Sports</h2>
        <nav>
          <ul class="news-tags">
            <li><a href="">All</a></li>
            <li><a href="">Football</a></li>
            <li><a href="">Cricket</a></li>
            <li><a href="">Basketball</a></li>
            <li><a href="">Badminton </a></li>
            <li><a href="">Boxing</a></li>
            <li><a href="">Esports</a></li>
            <li>
              <button class="arrow-btn1" href="">
                <svg width="24" height="24">
                  <use href="img/icons.svg#icon-right"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="arrow-btn2" href="">
                <svg width="24" height="24">
                  <use href="img/icons.svg#icon-right"></use>
                </svg>
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="news-cards">
        <ul class="news-cards-ul">
          <li>
            <a href="">
              <div class="main-card-sports">
                <div class="news-tag light-blue"><p>Business</p></div>
              </div>

              <p class="tag-news news-tag-main">
                Craig Bator - <span>27 Dec 2020</span>
              </p>
              <h3 class="news-main">
                Solskjaer dismisses Klopp comments on Man Utd penalty record
              </h3>
              <p class="lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore, error similique fuga nemo, porro sit libero modi
                voluptatum dolorem officia deleniti quae explicabo aliquid
                dolorum soluta velit, voluptate inventore eligendi!
              </p>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/sports-2.jpg" alt=" new 2" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3 class="truncate">
                  South Africa hammer injury-hit Sri Lanka Player
                </h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/sports-3.jpg" alt=" new 3" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3 class="truncate">
                  Southee-lead New Zealand have Pakistan on the ropes
                </h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/sports-4.jpg" alt=" new 4" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3 class="truncate">
                  The only thing that overcomes hard luck is hard work
                </h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/sports-5.jpg" alt=" new 5" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3 class="truncate">
                  Success is not a good teacher failure makes you humble
                </h3>
              </div>
            </a>
          </li>
          <li>
            <a class="a-news" href="">
              <img src="img/sports-6.jpg" alt=" new 6" />
              <div class="news-text">
                <p class="tag-news">Craig Bator - <span>27 Dec 2020</span></p>
                <h3 class="truncate">
                  Rahane-led India bury ghosts of Adelaide at Melbourne
                </h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="news-right-content">
      <aside>
        <div class="sports-header">
          <h2>Stay Connected</h2>
        </div>
        <div class="sports-section">
          <div class="soc-side-ad">
            <ul>
              <li>
                <svg width="16 " height="16">
                  <use href="img/icons.svg#icon-facebook"></use>
                </svg>
                <p>15000 Followers</p>
              </li>
              <li>
                <svg width="16 " height="16">
                  <use href="img/icons.svg#icon-inst"></use>
                </svg>
                <p>15000 Followers</p>
              </li>
              <li>
                <svg width="16 " height="16">
                  <use href="img/icons.svg#icon-yt"></use>
                </svg>
                <p>15000 Followers</p>
              </li>
              <li>
                <svg width="16 " height="16">
                  <use href="img/icons.svg#icon-twitter"></use>
                </svg>
                <p>15000 Followers</p>
              </li>
              <li>
                <svg width="16 " height="16">
                  <use href="img/icons.svg#icon-12"></use>
                </svg>
                <p>15000 Followers</p>
              </li>
              <li>
                <svg width="16 " height="16">
                  <use href="img/icons.svg#icon-13"></use>
                </svg>
                <p>15000 Followers</p>
              </li>
            </ul>
          </div>
          <div class="ad">
            <p>Ad</p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
