.temperature {
  font-family: Sofia Sans, sans-serif;
  font-size: 12px;
}

.temp-content {
  position: relative;
  display: inline-block;
}

.temperature p {
  display: inline;
}

.temp-icon {
  position: absolute;
  left: -3px;
  top: 3px;
}

.day svg {
  fill: black;
}

.socials svg {
  fill: white;
}

.socials ul li a {
  display: inline-flex;
  align-items: center;

  background-color: #000;
  padding: 4px;
  border-radius: 50%;
}

.socials ul li:nth-child(1) a {
  background-color: #1b7bfd;
}

.socials ul li:nth-child(2) a {
  background-color: #42c0f5;
}

.socials ul li:nth-child(3) a {
  background-color: #c23785;
}

.socials ul li:nth-child(4) a {
  background-color: #ef5043;
}

.city {
  margin-left: 7px;
  font-weight: 500;
}

.breaking {
  color: #fff;
  background-color: #ef5043;
  padding: 14px 10px;
  display: inline-block;
  margin-right: 17px;
}

.first-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(246, 80, 80, 0.15);
  background: #fff;
}

.header-ul {
  display: grid;
  grid-template-columns: 95px 141px minmax(190px, 1fr);
  align-items: center;
  gap: 20px;
}

.header-ul li:nth-child(1) {
  display: grid;
  align-items: center;
  gap: 7px;
  grid-template-columns: 16px 1fr;
}

.day {
  font-size: 12px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 16px 1fr;
  align-items: center;
  gap: 5px;
}

.news {
  font-size: 12px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.socials ul {
  display: grid;
  grid-template-columns: repeat(4, 24px);
  gap: 10px;
  margin-left: 20px;
}

.logotype-header {
  display: none;
}

@media (max-width: 768px) {
  .socials {
    display: none;
  }

  .header-ul {
    gap: 10px;
  }

  .breaking {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .breaking {
    display: none;
  }
  .news {
    padding: 14px 8px;
    background-color: #ef5043;
    color: #fff;
    display: block;
  }
}

@media (max-width: 480px) {
  .first-header .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logotype-header {
    display: flex;
  }

  .news {
    display: none;
  }

  .header-ul {
    grid-template-columns: 95px 141px;
    gap: 0;
    column-gap: 10px;
  }
}

@media (max-width: 420px) {
  .day {
    display: none;
  }
  .header-ul {
    grid-template-columns: 1fr;
  }
}
